@charset "UTF-8";*,*:before,*:after {
    box-sizing: border-box;
    -ms-word-wrap: break-word;
    word-wrap: break-word
}

:where([hidden]) {
    display: none
}

:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space
}

:where([draggable=true]) {
    -webkit-user-drag: element
}

html,body {
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    text-size-adjust: 100%!important
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0;
    padding: 0
}

body,button,input,select,textarea {
    position: relative;
    color: #000;
    font-family: PingFang SC,Hiragino Sans GB,Helvetica Neue,Helvetica,STHeiTi,Microsoft Yahei,sans-serif;
    background-color: #fff
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

textarea {
    white-space: revert
}

input[type=button],input[type=submit] {
    cursor: pointer
}

input[type=button] {
    outline: none;
    -webkit-appearance: none;
    appearance: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

th {
    text-align: inherit
}

fieldset,img {
    max-width: 100%
}

abbr,acronym {
    font-variant: normal;
    border: none
}

del {
    text-decoration: line-through
}

hr {
    height: 1px;
    background-color: #d9d9d9;
    border: 0
}

ul,ol,menu {
    list-style: none
}

input,textarea,select {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit
}

button,input {
    background: 0;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    appearance: none
}

[dir=rtl] button,[dir=rtl] input {
    background: 100%
}

a {
    color: #000;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    -webkit-touch-callout: none
}

a:hover {
    text-decoration: none
}

a:focus,*:focus {
    outline: none
}

em,i {
    font-style: normal
}

.fade-enter-active,.fade-leave-active {
    transition: opacity .25s ease
}

.fade-enter-from,.fade-leave-to {
    opacity: 0
}

.rotate-light {
    animation: rotateLight 5s infinite linear
}

@keyframes rotateLight {
    0% {
        transform: rotate(0)
    }

    50% {
        transform: rotate(180deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.ani-sunshine {
    animation: sunshine 2.5s 1 ease-in-out
}

@keyframes sunshine {
    0% {
        transform: rotate(0)
    }

    50% {
        transform: rotate(180deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.ani-breath {
    animation: breath 1.2s ease-in-out infinite
}

@keyframes breath {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(.95)
    }

    to {
        transform: scale(1)
    }
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #333;
    font-size: 3.73333vw;
    line-height: 1.5
}

.n[data-v-e2a6aeba]:after {
    display: inline-block;
    width: 0;
    opacity: 0;
    content: "数"
}

[data-v-e2a6aeba] {
    user-select: none
}

[data-v-e2a6aeba]::-webkit-scrollbar {
    width: 0!important;
    height: 0!important
}

img[data-v-e2a6aeba] {
    -webkit-touch-callout: none
}

.page[data-v-e2a6aeba] {
    overflow: hidden;
    max-width: 7.5rem;
    margin: 0 auto;
    position: relative;
    width: 7.5rem;
    height: 16.24rem;
    background-image: url(./bg-f44212b7.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 7.5rem 16.24rem;
    padding-top: 1.15rem;
    background-color: #fae5fa;
    min-height: 100%
}

[dir=rtl] .page[data-v-e2a6aeba] {
    background-position: right top
}

.page img[data-v-e2a6aeba] {
    display: block;
    margin: auto
}

.page img[data-v-e2a6aeba]:nth-child(1) {
    width: 5.82rem
}

.page img[data-v-e2a6aeba]:nth-child(2) {
    margin-top: .51rem;
    width: 5.82rem
}

.page img[data-v-e2a6aeba]:nth-child(3) {
    margin-top: .51rem;
    width: 7.5rem
}

.page img[data-v-e2a6aeba]:nth-child(4) {
    margin-top: .8rem;
    width: 4.1rem
}

@keyframes huxi-e2a6aeba {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    to {
        transform: scale(1)
    }
}

.page .btn[data-v-e2a6aeba] {
    position: fixed;
    left: calc(50% - 2.92rem ) !important;
    bottom: .39rem;
    width: 5.84rem;
    animation: huxi-e2a6aeba 1s infinite
}

[dir=rtl] .page .btn[data-v-e2a6aeba] {
    left: auto;
    right: .83rem
}

html,body,#app {
    height: 100%
}
